@page
@model BookStore.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you for your order!</h2>
    <h2>Your items will ship within 1-2 business days.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>