<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">

        <div class="container-fluid">

            <div class="row">

                <div class="col">
                    <span class="navbar-brand m-lg-2 col-11">
                        <a class="text-light" asp-controller="Home" asp-action="Index" asp-route-pageNum="1">
                            Welcome to the Bookstore
                        </a>
                    </span>
                </div>

                <div class="col-2 text-right">
                    <a asp-page="/AddBook">
                        <img src="~/lib/img/shopping-cart.png" width="45" />
                    </a>
                </div>

            </div>

        </div>
    </div>

    <div class="row m-1 p-1">

        <div id="types" class="col-3">
            <vc:types></vc:types>
        </div>

        <div class="col-9">
            <div>
                @RenderBody()
            </div>
        </div>


    </div>

</body>
</html>
